PhoPro.egg-info/
**/__pycache__/
*.pyc
.DS_Store
**.vscode/
.vscode/
pyrightconfig.json
sandbox.ipynb
test-results
MANIFEST.in
.pytest_cache/
site/
docs/tutorials/Basic_Usage_files
utils_old/
archive/
workshop/
tutorials/output/*
dist/
sync_version.py
example_data/